<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo">
        <div>
            <h3>Lugar para la barra de busqueda</h3>
        </div>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
    
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>