<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <!-- opcion 1 -->
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> -->
        <!-- <script src="https://kit.fontawesome.com/2408470e2e.js" crossorigin="anonymous"></script> -->
        <!-- opcion2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
<body>
    <header>
        <div class="header-sup">
            <a class="logo" href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            <div class="search-bar-container">
                <input type="search" placeholder=" Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h3><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
            <nav class="navs-container" >
                <ul class="site-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="user-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </div>    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form class="login-form">
            <div class="form-div">
                <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario">
            </div>
            <div class="form-div">
                <input type="password" id="password" name="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <div class="content-footer">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </div>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>